body{
  background-color: #f6f6f6;
  color: #040404;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
  text-align: center;
}

.subheader{
  text-align: center;
}