body{
  background-color: #f6f6f6;
  color: #040404;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img-container{
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}