body{
  background-color: #2980B9;
  text-align: center;
}
button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #11133B;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav .a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f3f3f3;
  display: block;
  transition: 0.3s;
}

.a{
  cursor: pointer;
}
.closebtn{
  color: #f3f3f3;
}

.closebtn:hover{
  color: #1B1F64;
}

.sidenav .a:hover{
  color: #1B1F64;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.settings{
  width: 35px;
  height: 35px;
}

.settings:hover{
  cursor: pointer;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.chatbot-container{
  padding-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  border-radius: 25px;
  display: inline-block;
  background-color: #f2f2f2;
  padding: 45px;
}

.close:hover{
  cursor: pointer;
}

form{
  text-align: left;
}

#chatLog {
  background-color: #f4f4f4;
  border: 1px solid lightgray;
  text-align: left;
  width: 50%;
  height: 350px; 
  float: right;
  margin-right: 20%;
  overflow: scroll;
}

#chatLog:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

#iFrame {
  visibility: hidden;
}

.text {
  padding-left: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}